body{
    margin: 0%;
    height: 100vh;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    margin: 0%;
    text-transform: uppercase;
}

ul{
    height: 100%;
    margin: 0%;
    padding: 0px;
    text-align: center;
    list-style: none;
    overflow-y: scroll;
}

li{
    margin-top: 5%;
    padding: 5%;
    font-size: large;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-right:  solid white 0.2vw;
    border-top:  solid white 0.2vw;
    border-left:  solid gray 0.2vw;
    border-bottom:  solid gray 0.2vw;
}

li:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-left:  solid white 0.2vw;
    border-bottom:  solid white 0.2vw;
    border-right:  solid gray 0.2vw;
    border-top:  solid gray 0.2vw;
}

p{
    margin: 0%;
}

input{
    color: white;
    background-color: rgba(128, 128, 128, 0.700);
}

section{
    height: 95vh;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/background/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(1vw);
    box-shadow: 0vw 0vw 0.5vw 1vw rgb(70, 70, 70);
    border-radius: 5vw;
}

article{
    height: 30%;
    width: 40%;
    backdrop-filter: blur(1vw);
    box-shadow: 0vw 0vw 0.5vw 0.1vw rgb(80, 80, 80);
    border-radius: 1vw;
    display: none;
}

header{
    height: 90%;
    width: 100%;
    display: none;
}

header>div{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header>div:last-child{
    border-bottom-left-radius: 1vw;
    box-shadow: -0.5vw 0.5vw 1vw 0.5vw rgba(41, 41, 41, 0.900);
}

footer{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

footer>button{
    width: 40%;
    height: 100%;
    color: rgb(2, 74, 87);
    border: none;
}

footer>button:first-child{
    box-shadow: 0.2vw -0.2vw 0.5vw 0.2vw rgb(58, 58, 58);
    border-bottom-left-radius: 1vw;
    border-top-right-radius: 1vw;
}

footer>button:last-child{
    box-shadow: -0.2vw -0.2vw 0.5vw 0.2vw rgb(58, 58, 58);
    border-top-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.button-container-manager>button{
    height: 30%;
    width: 70%;
    border: none;
    border-radius: 1vw;
    font-size: 1vw;
    background: radial-gradient(circle, rgb(170, 170, 170) 0%, rgba(11, 11, 11, 0.700) 100%);
}

.button-container-action{
    width: 70%;
    height: 10%;
}

.button-container-action>button{
    width: 100%;
    height: 100%;
    border: none;
    border-top: solid gray 0.2vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}


button{
    cursor: pointer;
    font-weight: bolder;
    background-color: transparent;
}

button:hover{
    background-color: rgba(230, 230, 230, 0.534);
}

.gameserver{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header>div:first-child>input{
    height: 20%;
    width: 80%;
    border-radius: 1vw;
}

header>div:first-child>div>input{
    margin-top: 5%;
    height: 20%;
    width: 80%;
}

.Wrong{
    animation: Wrong 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: solid red 0.5vw;
}

.atload{
    animation: atload 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#loadbar{
    opacity: 0;
    width: 20%;
    height: 20%;
    background-image: url(../img/brand/loadbar.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 40%;
    left: 75%;
}

#icon{
    height: 50%;
    width: 50%;
    border-radius: 1vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/scene/icon/1.jpg);
}

#listaserver{
    height: 50%;
    width: 70%;
    border-top: solid 0.2vw gray;
}

#listaplayer{
    height: 50%;
    width: 40%; 
    border-top: solid 0.2vw gray;  
}

#ServerCreateForm{
    width: 40%;
    height: 50%;
}


@keyframes Wrong {
    0%{transform: translateX(0%)};
    25%{transform: translateX(2%)};
    50%{transform: translateX(-2%)};
    75%{transform: translateX(2%)};
    100%{transform: translateX(0%)};
}

@keyframes atload {
    0%{opacity: 1;}
    100%{opacity: 1;}
}